* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: whitesmoke;
}

#work-space {
    height: 100vh;
    width: 100vw;
    background: whitesmoke;
    position: relative;
    background-image:
        /* new concept: use gradient like a grid, break grid into solid color lines */
        /* to right → paint left to right */
        /* color 1px → draw 1px grid line */
        /* transparent → stop color immediately (no fade) */
        /* background-size → distance between each repeated line */
        linear-gradient(to right, #e5e5e5 1px, transparent 1px),
        linear-gradient(to bottom, #e5e5e5 1px, transparent 1px);
    ;
    background-size: 50px 50px;
}