* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: whitesmoke;
}

/* navigation bar */
header #nav {
    width: 98%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#nav #project-details {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#nav #export-buttons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#nav #export-buttons #outline-btn {
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 50px;
}

#nav #export-buttons #fill-btn {
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 50px;
    background: #000;
    color: #fff;
}

/* tools section */
#tools{
    display: flex;
    height: 50px;
    width: 80%;
    margin: 5px;
    font-size: 25px;
    gap: 50px;
}

#tools div{
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* editor section */
#editor{
    width: 100%;
    height: 80vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 1fr;
}