* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* navigation bar */
header #nav {
    width: 98%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#nav #project-details {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#nav #export-buttons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#nav #export-buttons #outline-btn {
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 50px;
}

#nav #export-buttons #fill-btn {
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 50px;
    background: #000;
    color: #fff;
}