* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: whitesmoke;
}

/* navigation bar */
header #nav {
    width: 98%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#nav #project-details {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#nav #export-buttons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#nav #export-buttons #outline-btn {
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 50px;
}

#nav #export-buttons #fill-btn {
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 50px;
    background: #000;
    color: #fff;
}

/* tools section */
#tools {
    display: flex;
    height: 50px;
    width: 98%;
    margin: 5px;
    font-size: 20px;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

#tools div {
    border: 1px solid black;
    padding: 8px 8px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* editor section */
#editor {
    width: 98%;
    height: 85vh;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 1fr;
}

#editor aside {
    margin: 10px 0px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
}

#canvas {
    padding: 10px;
}

#canvas #page {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

#layers-section #top {
    font-size: 15px;
    height: 50%;

}

#layers-section #top p {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}

#layers-section #bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-top: 40%;
}

#layers-section #bottom button {
    padding: 8px 40px;
    border: 1px dashed black;
    background: #000;
    color: #fff;
    border-radius: 10px;
}

#properties-section #top {
    margin-top: 10px;
    font-size: 15px;
}

#properties-section h4 {
    font-size: 15px;
}

#properties-section h4 {
    font-weight: 600;
    font-size: 15px;
}


#properties-section #box #top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#properties-section #box #bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#properties-section #box .box-style {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 120px;
}

#rotation {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    margin-top: 8px;
    border-radius: 10px;
}

#button {
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

#page{
    position: relative;
}