* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: whitesmoke;
}

/* canvas section: contain background layout grid layout, most of things goona happen in this part */
#work-space {
    height: 100vh;
    width: 100vw;
    background: whitesmoke;
    position: relative;
    background-image:
        /* new concept: use gradient like a grid, break gradient into solid color of lines */
        /* to right → paint left to right */
        /* color 1px → draw 1px grid line */
        /* transparent → stop color immediately (no fade) */
        /* background-size → distance between each repeated line */
        linear-gradient(to right, #e5e5e5 1px, transparent 1px),
        linear-gradient(to bottom, #e5e5e5 1px, transparent 1px);
    ;
    background-size: 50px 50px;
}

/* top navigation bar: logo of web page, file name, setting upload or export buttons are here. */
#nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    padding: 10px;
}

#nav #left {
    display: flex;
    width: fit-content;
    justify-content: left;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#nav #left i {
    font-size: 20px;
    margin: 5px;
}

#nav #right {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nav #right #pro-pic {
    width: 40px;
    margin-top: 5px;
}

#nav #right #pro-pic img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
}

#nav #right #buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#nav #right #buttons button {
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
    background: royalblue;
    color: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#nav #right #buttons .grey {
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
    background: whitesmoke;
    color: #000;
    border: 1px solid gray;
}

#nav #right #buttons button i {
    font-size: 20px;
}

/* left tool panel: contain most of tools which we are goint to use here */
#tools {
    position: absolute;
    top: 20%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    background: #fff;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* bottom menu: contain menu icon, percentage section, help icon or ai icons */
#bottom-menu {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

#bottom-menu #btm-left {
    background: #fff;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

#bottom-menu #btm-right {
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bottom-menu #btm-right #percentage {
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

#bottom-menu #btm-right #percentage #addition {
    background: whitesmoke;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

#bottom-menu #btm-right #percentage #subtraction {
    background: whitesmoke;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

#bottom-menu #btm-right #help {
    margin: 10px;
    font-size: 20px;
}

#bottom-menu #btm-right #ai {
    margin-right: 15px;
    font-size: 20px;
}